@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 200;
    }
    50% {
        stroke-dashoffset: 50;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 200;
        transform: rotate(450deg);
    }
}

.ReactThrobber--block {
    display: block;
    width: 100%;
    text-align: center;
}

.ReactThrobber--inline {
    display: inline-block;
    line-height: 1;
}

.ReactThrobber__spinner {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    animation: rotator 1.4s linear infinite;
}

.ReactThrobber__path {
    stroke: #0a82ff;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite;
}